.projectWrapper {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    min-width: 360px;
}

.projectLogoContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.projectLink {
    display: block;
    font-weight: 600;
    background-color: rgba(16, 16, 16, 0.67);
    padding: 1em 3em;
    border-radius: 2em;
    z-index: 1;
}
.projectLink:hover {
    color: #ffbd39;
}

.projectDescriptionContainer {
    text-align: center;
    padding: 1em;
}

.shading {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
