@import "variables";

@mixin container() {
  max-width: 80%;
  margin: 0 auto;
  @media screen and (max-width: $mediaWidthMobile) {
    max-width: 95%;
  }
}


@mixin pageBg($bgColor) {
  width: 100%;
  background-color: $bgColor;
}
