$textColorPrimary: #fff;
$textColorSecondary:#ffbd39;
$bgColorPrimary: black;
$bgColorSecondary:#101010 ;
$minWidth: 360px;

$mediaWidthProjectsPage: 1360px;
$mediaWidthSkillsAndMenu: 930px;
$mediaWidthMobile: 700px;

$fontSizeDesktop: 18px;
$fontSizeMobile: 16px;
