@import "../../common/style/variables";
@import "../../common/style/mixins";

.pageTitleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6em;
  margin-bottom: 3em;

  .title {
    font-size: 3em;


  }
  .titleRepeat {
    position: absolute;
    font-size: 7em;
    bottom: 0;
    font-weight: 900;
    opacity: .1;

  }
  @media screen and (max-width: $mediaWidthSkillsAndMenu) {
    font-size: .6em;
  }
}
