@import '../../../common/style/variables';

.form {
  display: flex;
  width: 40vw;
  flex-direction: column;
  background: #e0dddd;
  align-items: center;
  justify-content: space-between;
  padding: 3em 2em;
  @media screen and (max-width: $mediaWidthSkillsAndMenu) {
    width: 100%;
  }

  input, textarea {
    width: 100%;
    margin: 1em;
    padding: .5em;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
  };
  textarea {
    resize: none;
    overflow: auto;
    height: 5em;
  }
  button {
    background-color: $textColorSecondary;
    margin-top: 1em;
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;
    padding: 1em 1.5em;

    border-radius: 3em;
    text-transform: uppercase;
    border: 2px solid transparent;
    &:hover {
      background-color: $bgColorSecondary;
      border: 2px solid $textColorSecondary ;
      color: $textColorSecondary;
      outline: none;
    }
  }
}