.home {
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.mainTextContainer {
    font-size: 2em;
}

.hello {
    color: #ffbd39;
}

h1 {

}

h1 span {
    color: #ffbd39;
}



.photoContainer {
    width: 100%;
    min-height: 100vh;
    background-image: url("../../assets/jpg/Photo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}