@import "../../common/style/variables";
@import "../../common/style/mixins";


.home {
  position: relative;
  @include pageBg($bgColorSecondary);

  .particles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .3;
  }

  .contentContainer {
    @include container();
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mainTextContainer {
      position: relative;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      min-height: 101vh;
      background-image: url("../../assets/jpg/Photo2.png");
      background-size: contain;
      background-position: bottom right;
      background-repeat: no-repeat;
      font-size: 2.5em;
      text-shadow: 1px 1px 10px $bgColorPrimary;
      @media screen and (max-width: $mediaWidthTablet) {
        justify-content: start;

        //min-height: 640px;
        font-size: 1.5em;
        padding-top: 20%;
      }
      @media screen and (max-width: $mediaWidthSkillsAndMenu) {
        justify-content: start;
      }
      @media screen and (max-width: $mediaWidthMobile) {
        font-size: 1em;
        background-position: bottom;
      }

      .hello {
        color: $textColorSecondary;
        background-image: $bgColorPrimary;
      }

      .mainTitle {
        width: 60%;
        line-height: 1.2;
        margin: .2em 0;
        @media screen and (max-width: $mediaWidthMobile) {
          width: 100%;
        }


        & span {
          color: $textColorSecondary;
        }

      }

      .description {
        background-color: rgba(0, 0, 0, 0.56);
      }
    }
  }
}






