.skillWrapper{
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 1em;
    padding: 2em 3em;
    min-width: 360px;
    max-width: 30vw;
}
.iconContainer {
    width: 100px;
    height: 100px;
    font-size: 2em;
    color: #ffbd39;
}