@import "../../../common/style/variables";
@import "../../../common/style/mixins";

.skillWrapper{
    display: flex;

    margin-bottom: 2em;
    padding: 2em;
    width: 35vw;
    background-color: $bgColorSecondary;
    @media screen and (max-width: $mediaWidthSkillsAndMenu){
        width: 90vw;
    }
    @media screen and (max-width: $mediaWidthMobile){
        padding: 2em 1em;
        width: 95vw;
    }
}
.iconContainer {
    width: 100px;
    height: 100px;
    font-size: 2em;
    color: $textColorSecondary;
}