.navContainer {
    background-color: rgba(0, 0, 0, 0.78);
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}
.nav {
    display: flex;
}

.nav li {
 padding: 1em;
}

.nav li a:hover {
    border-bottom: 2px solid #ffbd39;
}

.nav li a:active {
    color: #ffbd39;
}


