@import "../../common/style/mixins";
@import "../../common/style/variables";

.navContainer {
  background-color: rgba(0, 0, 0, 0.89);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;

  .contentContainer {
    @include container();
    display: flex;
    justify-content: space-between;

    .nav {
      display: flex;
      @media screen and (max-width: $mediaWidthSkillsAndMenu) {
        position: absolute;
        padding-left: 5%;
        left: 0;
        right: 0;
        flex-direction: column;
        transform: translate(0, -100%);
        background-color: rgba(0, 0, 0, 0.89);
        transition :transform .5s ;
      }

      & li {
        margin: 1em 3em 1em 0;
        a{
          cursor: pointer;
        }
        a:hover {
          border-bottom: 2px solid #ffbd39;
        }

        .active {
          color: #ffbd39;

        }
      }
    }
    .burgerNav{
      @media screen and (max-width: $mediaWidthSkillsAndMenu) {
        height: auto;
      transform: translate(0, 0);
      transition :transform .5s ;
    }
    }
    .burger{
      display: none;
      @media screen and (max-width: $mediaWidthSkillsAndMenu) {
        display: flex;
        width: 100%;
        justify-content: end;
        margin: 1em 3em 1em 0;
        z-index: 2;
        .burgerButton{
          cursor: pointer;
          &:active{
            color: $textColorSecondary;
        }

      }
      }
    }
  }
}














