@import "../../common/style/mixins";
@import "../../common/style/variables";

.pageWrapper {
  @include pageBg($bgColorSecondary);
  position: relative;

  .contentContainer {
    @include container();

    .footer {
      padding: 3em 0;

      p {
        text-align: center;
      }

    }
  }
}