/*-------  Reset CSS   ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}




.App {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

}

.wrapperContent {
    margin: 0 auto;
    width: 80%;
}

