@import "../../common/style/mixins";
@import "../../common/style/variables";

.pageWrapper {
  @include pageBg($bgColorPrimary);

  .contentContainer {
    @include container();

    .contactsContainer {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: $mediaWidthSkillsAndMenu) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

